#emoji   {
    font-size: 3em;
    /*border-bottom: 2px solid rgba(0, 84, 255, 0.3);*/
}

/* Buttons */
.btn {
    position: relative;;
    border: 0;
    background: 0;
}
.arrow {
    font-size: 2em;
}
#fontsR {
    right: 0%;
    top: 0%;
}
#fontsL {
    left: 0%;
    top: 0%;
}


p {
    text-align: center;
}
.wrapper {
    margin: 10% auto;
}
#font-div {
    margin: 0 auto;
    width: 300px;
}
select {
    width: 100%;
    font-size: 1em;
    padding-bottom: 2px;
    margin: 10px;
}
